[submodule "site/site/themes/gohugo-theme-ananke"]
	path = site/site/themes/gohugo-theme-ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "site/themes/gohugo-theme-ananke"]
	path = site/themes/gohugo-theme-ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
